// SCSS variables.

$primary-color: #000000;
$secondary-color: #ffffff;

$button-hover: (
  box-shadow: 0 0 5px 1px $primary-color,
);

$lightButton-hover: (
  box-shadow: 0 0 5px 1px $secondary-color,
);

$border-radius: (
  border-radius: 10px,
);

%anchor-style {
  padding: 10px;
  background-color: $primary-color;
  border-radius: map-get($border-radius, border-radius);
  list-style-type: none;
  cursor: pointer;
}

%button-style {
  cursor: pointer;
  padding: 9px 15px;
  font-weight: 600;
  border: none;
  border-radius: map-get($border-radius, border-radius);
  color: $secondary-color;
  background-color: $primary-color;
}

body {
  margin: 0;
  padding: 0;
}

// Header with navbar.

.header {
  width: 100%;
  background-color: rgb(71, 71, 71);

  .navbar {
    display: flex;
    justify-content: space-between;

    .hamburgerMenu {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-right: 2em;

      li {
        @extend %anchor-style;

        &:hover {
          box-shadow: map-get($button-hover, box-shadow);
        }
        a {
          font-weight: 600;
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }

    h1 {
      font-size: 28px;
      margin-left: 1em;
    }

    .menu-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
      padding: 10px;
      margin: 5px 0 5px 0;
      z-index: 1;

      .bar {
        width: 25px;
        height: 3px;
        background: $secondary-color;
        margin: 3px 0;
      }
    }
  }
}

// Hamburger Menu for screens smaller than 768px.

.hamburgerContainer {
  width: 70%;
  height: 100vh;
  background-color: $primary-color;

  .hamburgerMenu {
    margin-top: 5em;
    list-style-type: none;
    margin-right: 2em;
  }
}

.showHamburgerMenu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;

  li {
    padding: 10px 15px 10px;
    border-radius: map-get($border-radius, border-radius);
    background-color: $secondary-color;
    margin-top: 2em;
  }

  a {
    justify-content: center;
    color: $primary-color;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
  }
}

// Div and Button for toggling dark and light mode.

.toggleBgColorDiv {
  display: flex;
  justify-content: center;
  margin-top: 2em;

  .toggleBgColorBtn {
    @extend %button-style;

    &:hover {
      box-shadow: map-get($button-hover, box-shadow);
    }
  }

  .lightModeBtn {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
      box-shadow: map-get($lightButton-hover, box-shadow);
    }
  }
}

// Main Section that has two cards with paragraphs.

.mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .card {
    width: 90%;
    padding: 2em;
    background-color: rgba(219, 214, 214, 0.6);
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: fit-content;
      margin: 0;
      padding-bottom: 1.5em;
    }

    p {
      font-size: 18px;
      padding-left: 2em;
    }

    .readMoreDiv {
      display: flex;
      justify-content: flex-end;
      a {
        font-weight: 600;
        text-decoration: none;
        @extend %anchor-style;
        color: $secondary-color;
        &:hover {
          box-shadow: map-get($button-hover, box-shadow);
        }
      }
    }

    .img {
      max-width: 100%;
      height: auto;
      border-radius: map-get($border-radius, border-radius);
    }
  }
}

// Form Section.

.formSection {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  .textOutput {
    width: 70%;
    word-wrap: break-word;
  }

  .form {
    display: flex;
    justify-content: center;
    gap: 20px;

    .formSubmitBtn {
      @extend %button-style;

      &:hover {
        box-shadow: map-get($button-hover, box-shadow);
      }
    }

    .formSubmitBtnLight {
      background-color: $secondary-color;
      color: $primary-color;

      &:hover {
        box-shadow: map-get($lightButton-hover, box-shadow);
      }
    }

    .textInput {
      padding: 7px;
      border: 2px solid $primary-color;
      border-radius: map-get($border-radius, border-radius);

      &:hover {
        box-shadow: 0 0 5px 1px $primary-color;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

// Footer.

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $secondary-color;
  height: 10em;
  border-top: 1px solid $secondary-color;
}

// Media Queries.

@media (max-width: 768px) {
  .header {
    .navbar {
      .menu-toggle {
        display: flex;
        justify-content: center;
        margin-right: 2em;
      }
    }
    .hamburgerMenu {
      display: none !important;
    }
  }
  .mainSection {
    .card {
      padding: 1.5em;
      display: grid;
      width: 100%;

      h2 {
        padding-bottom: 1em;
      }

      p {
        padding: 0;
      }
    }
  }
  .formSection {
    .textOutput {
      margin-top: 1em;
      width: 85%;
    }
  }
}
