// SCSS variables.

$primary-color: #000000;
$secondary-color: #ffffff;

$darkShadow-hover: (
  box-shadow: 0 0 5px 2px $primary-color,
);

$lightShadow-hover: (
  box-shadow: 0 0 5px 3px $secondary-color,
);

$border-radius: (
  border-radius: 10px,
);

%anchor-style {
  padding: 10px;
  background-color: $primary-color;
  border-radius: map-get($border-radius, border-radius);
  list-style-type: none;
  cursor: pointer;
}

%button-style {
  cursor: pointer;
  padding: 9px 15px;
  font-weight: 600;
  border: none;
  border-radius: map-get($border-radius, border-radius);
  color: $secondary-color;
  background-color: $primary-color;
}

body {
  margin: 0;
  padding: 0;
}

// Header with navbar and hamburger menu on screens smaller than 768px.

header {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  background-color: #525252;

  h1 {
    margin-left: 2em;
    display: flex;
    align-items: center;
  }
}

.menu-toggle-checkbox {
  display: none;
}

.menu-toggle-label {
  display: none;
}

.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bar {
    width: 30px;
    height: 4px;
    background-color: $secondary-color;
    transition: 0.4s;
  }
}

.menu {
  display: flex;
  align-items: center;
  top: 0;
  right: 0;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 2em;

    li {
      justify-content: center;
      @extend %anchor-style;

      &:hover {
        box-shadow: map-get($darkShadow-hover, box-shadow);
      }
      a {
        font-weight: 600;
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }
}

// Div and Button for toggling dark and light mode.

.toggleBgColorContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;

  .toggleBgColorBtn {
    @extend %button-style;

    &:hover {
      box-shadow: map-get($darkShadow-hover, box-shadow);
    }
  }

  .lightModeBtn {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
      box-shadow: map-get($lightShadow-hover, box-shadow);
    }
  }
}

// Main Section with two cards.

.mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .card {
    width: 90%;
    border-radius: map-get($border-radius, border-radius);
    padding: 2em;
    background-color: rgb(163, 161, 161);
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: fit-content;
      margin: 0;
      padding-bottom: 1.5em;
    }

    p {
      font-size: 18px;
      padding-left: 2em;
    }

    .readMoreDiv {
      display: flex;
      justify-content: flex-end;
      a {
        font-weight: 600;
        text-decoration: none;
        @extend %anchor-style;
        color: $secondary-color;
        &:hover {
          box-shadow: map-get($darkShadow-hover, box-shadow);
        }
      }
    }

    .cardImg {
      max-width: 100%;
      height: auto;
      border-radius: map-get($border-radius, border-radius);
    }
  }
}

// Form Section.

.formSection {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  .textOutput {
    width: 70%;
    word-wrap: break-word;
  }

  .form {
    display: flex;
    justify-content: center;
    gap: 20px;

    .formSubmitBtn {
      @extend %button-style;

      &:hover {
        box-shadow: map-get($darkShadow-hover, box-shadow);
      }
    }

    .formSubmitBtnLight {
      background-color: $secondary-color;
      color: $primary-color;

      &:hover {
        box-shadow: map-get($lightShadow-hover, box-shadow);
      }
    }

    .textInput {
      padding: 7px;
      border: 2px solid $primary-color;
      border-radius: map-get($border-radius, border-radius);

      &:hover {
        box-shadow: map-get($darkShadow-hover, box-shadow);
      }

      &:focus {
        outline: none;
      }
    }

    .textInputDark {
      &:hover {
        box-shadow: map-get($lightShadow-hover, box-shadow);
      }
    }
  }
}

// Footer.

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $secondary-color;
  height: 10em;
  border-top: 1px solid $secondary-color;
}

// Media Queries.

@media (max-width: 768px) {
  .menu {
    display: none;
    background-color: #000000;

    ul {
      display: grid;
      justify-content: center;
      margin-top: 5em;
      font-size: 28px;
    }
  }

  .menu-toggle-label {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 3;
  }

  .menu-toggle-checkbox:checked + .menu-toggle-label .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-toggle-checkbox:checked + .menu-toggle-label .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle-checkbox:checked + .menu-toggle-label .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .menu-toggle-checkbox:checked ~ .menu {
    display: block;
    justify-content: center;
    width: 50%;
    height: 100vh;
    z-index: 2;

    ul {
      margin-left: 2em;
    }
  }

  .mainSection {
    .card {
      border-radius: 0;
      padding: 1.5em;
      display: grid;
      width: 100%;

      h2 {
        padding-bottom: 1em;
      }

      p {
        padding: 0;
      }
    }
  }
  header {
    h1 {
      font-size: 30px;
      margin-left: 1em;
    }
  }

  .formSection {
    .textOutput {
      margin-top: 1em;
      width: 85%;
    }
  }
}
